/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* Hides the content area until we are ready to display after paddings have been adjusted. 
    oj-complete is a marker class that is applied by the appController 
    after adjusting the content area. */

.item-container{
  margin-left: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: dimgray;
  padding: 1% 0 1% 0;
  margin-top: 3px;
  text-align: center;
  overflow: hidden;
}

.item-material{
  margin-left: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: dimgray;
  padding: 1% 0 1% 0;
  margin-top: 3px;
  text-align: center;
  overflow: hidden;
  margin-left: 15px;
  margin-bottom: 11px;
}

.oj-inputnumber .oj-button{ 
  width: 24px;
}

.highlight{
  background-color: paleturquoise;
  width: 95%;
}

.dashboard-material-label{
  font-weight: 500;
}

.dashboard-item-type{
  padding-left: 30px;
}

.green{
  background-color: #42d692;
}

.red{
  background-color: tomato;
}
.dashboard-material-input{
  width:95%;
}


.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}

.demo-james-icon {
  width: 80px;
  height: 80px;
  display: block;
  padding-top: 24px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.demo-profile-name {
  font-size: 1.714rem;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-bottom: 42px;
}

.demo-app-name {
  padding-top: 40px;
  color: #979899;
}

.oj-masonrylayout-tile-1x1 {
  text-align: center;
  max-width: 7em;
  max-height: 6em;
  min-width: 7em;
  min-height: 6em;
  height: 6em;
  width: 7em;
  display: inline-block
}

#panel-container {
  height: 100%;
  justify-content: center;
  align-items: center;
}